* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

body{
    background-color: #EA9D4F;
}
/* Empieza css de grid*/
.contenedor{
    width: 100%;
    max-width: 1300px;
    margin: 0px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header header header"
                         "sidebar contenido contenido contenido contenido"
                         "footer footer footer footer footer";
}

.contenedor > div,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: white;
	padding: 20px;
	border-radius: 10px;
}

/* Empieza css de grid*/
/* Empieza css de header*/
.contenedor .header{
    grid-area: header;
    margin:0 auto;
    max-width: 100%;
    width: 100%;
    height: 300px;
    background-image: url("imagenes/pizza.jpg") ;
    background-position: -390 -520;
    background-repeat: no-repeat;
    opacity: .7;
    display: block;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /*border-radius: 10px;*/
}
 
h1{
    font-family: 'Ballet', cursive;
    color: white;
    text-align: center;
    font-size: 10rem;
}
/* Termina css de header*/
/* Empieza css de contenido*/
.contenedor .contenido{
    grid-area: contenido;
    background: #37413f;
    margin-right: 15px;
}

table{
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
    background-color:#37413f;
    text-align: center;
    width:100%;
	border-radius: 10px;
}

th, td{
    padding: 10px;
}



.comida{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 10px;
}

.cantidad{
    border: 0;
    border-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #37413f;
    text-align: center;
    border-radius: 10px;
    padding: 7.5px;
}
/* Termina css de contenido*/
/* Empieza css de sidebar*/
.contenedor .sidebar{
    grid-area: sidebar;
    text-align: center;
    background-color: #EA9D4F;/*side bar igual fondo*/
}
.recomendacion{
    background: #37413f;
    padding: 10px;
    border-radius: 10px;
}
h5{
    color: white;
}
/* Empieza css de sidebar*/
/* Empieza css de footer*/     
.contenedor .footer{
    float: left;
    background: transparent;
    text-align: right;
    grid-area: footer;
    background-color: #414f5e;
    background: #37413f;
    opacity: .95;
    
}

.foot{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: right;
    font-size: 15px;
    padding: 10px;
}

.sBorde{
    border: 0;
    background: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    font-size: 15px;
}

button{
    background-color: #EA9D4F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
	padding: 5px;
}

.sidebar .sidebar__img{
    padding-top: 5px;
    border-radius: 10px;
}
.sidebar .sidebar__h5{
    text-align: left;
}

.footer .footer__audio{
    float: left;
    width: 17%;
}
/* Termina css de footer*/
/*Empieza el diseño responsivo para moviles*/
@media(max-width: 768px){
    .contenedor {
		grid-template-areas:
                        "header header header header header" 
                        "sidebar sidebar sidebar sidebar sidebar"
						"contenido contenido contenido contenido contenido"
                        "footer footer footer footer footer";
	}
    .contenedor .header{
        box-sizing: border-box;
        margin:0 auto;
        width: 100%;
        height: 300px;
    }
    h1{
        font-size: 4rem;
    }

    .contenedor .header{
        height: 130px;
    }
    .sidebar .sidebar__img{
        width: 50%;
    }
    .sidebar .sidebar__h5{
        text-align: center; 
    }
    .contenedor .contenido{
        margin-left: 10px;
        padding: 0px;
    }
    .footer .footer__audio{
        float: left;
        width: 45%;
    }
}



/*
.sidebar .sidebar__img{
        width: 40%;
        margin-top: 5px;
        position: absolute;
        top: 380px;
        left: 323px;
    }
    .sidebar .sidebar__h5{
        text-align: right;
        padding-right: 20px;
    }
    .sidebar .menu{
        margin-left: 15px;
    }
    h1{
        font-size: 5em;
    }

    .contenedor .header{
        height: 130px;
    }
    .sidebar .sidebar__img{
        width: 40%;
        margin-top: 5px;
        display: inline;
    }
@media(max-width: 660px){
    
}
*/